* {
    margin: 0;
}

@font-face {
    font-family: 'Xtreem Fat Demo'; /*a name to be used later*/
    src: url('../fonts/XtreemFat_Demo.ttf'); /*URL to font*/
}

.text_xtreem_fat {
    font-family: "Xtreem Fat Demo", serif;
}
 .menu {
     font-size: 38px;
 }